@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('./src/assets/plugins/bootstrap/css/bootstrap.min.css');
@import url('./src/assets/plugins/fontawesome/css/font-awesome.min.css');
@import url('./src/assets/plugins/materialize/css/materialize.min.css');

body {
    font-family: 'Exo', sans-serif;
}

.container-fluid {
    padding: 0 !important;
}

.navbar {
    overflow: hidden;
}

.nav-link {
    padding-top: 20px;
}

.row {
    padding: 16px 0px !important;
}

.footer {
    background: #eee;
    padding: 10px 20px;
    position: fixed !important;
    bottom: 0;
    right: 0;
    left: 0;
}