<template>
  <main-layout>
    <div class="row">
      <div class="col-md-6">
        <terminal></terminal>
      </div>  
      <div class="col-md-6">
        <mongo></mongo>
      </div>  
    </div>
  </main-layout>
</template>

<script>
import MainLayout from "../layouts/main.vue";
import Terminal from "./../components/terminal.vue";
import Mongo from "./../components/mongo.vue";

export default {
  components: {
    MainLayout,
    Terminal,
    Mongo,
  }
};
</script>
