<template>
  <main-layout>
    <div class="row">
        <div class="col-12">
            <index-list></index-list>
        </div>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from "../layouts/main.vue";
import IndexList from './../components/index-list.vue';

export default {
  components: {
    MainLayout,
    IndexList,
  }
};
</script>
