<template>
  <main-layout>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img v-bind:src="image()" class="img-thumbnail" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <button @click="goBack" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h3>Title</h3>
                            <blockquote class="blockquote">
                                <p class="mb-0 h4">Description</p>
                                <footer class="blockquote-footer">Hospital Provider</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from "../layouts/main.vue";
import _global from './../assets/js/global';

export default {
    data () {
        return {
            details: null
        };
    },
    created () {
        console.log('View Loaded');
        this.getDetails();
    },
    methods: {
        image ($image = null) {
            if (!$image) {
                return '/src/assets/favicon.png';
            }
            return $iamge;
        },

        getDetails () {
            const index_meta = _global.getItem('index_meta');
            if (!index_meta) {
                window.location.href = '/index';
            }
            this.details = index_meta;
        },
        
        goBack () {
            _global.removeItem('index_meta');
            window.location.href = '/index';
        }
    },
    components: {
        MainLayout
    }
};
</script>
