<template>
    <div>
        <div class="card">
            <div class="card-header">
                Global Chat
            </div>
            <div class="card-body">
                <div v-if="joined">
                    <div class="card">
                        <div id="chat-messages" class="card-content h-40" v-html="chat_content"></div>
                        <div class="card-footer">
                            <div class="input-group mb-3">
                                <textarea class="form-control" v-model="chat_message" @keyup.enter="send()"></textarea>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success" @click="send()"><i class="fa fa-send" aria-hidden="true"></i> Send</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="file-flow"></div>
                </div>

                <div v-if="!joined">
                    <div class="form-group">
                        <label for="host">WebSocket Host</label>
                        <input type="text" name="host" id="host" v-model="config.ws_host" class="form-control" placeholder="localhost:8181">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" v-model="user.email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" v-model="user.username" class="form-control" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                
                <div v-if="!joined">
                    <button type="button" class="btn btn-info float-right" @click="join()"><i class="fa fa-sign-in" aria-hidden="true"></i> Join</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _global from './../assets/js/global';

export default {
    name: 'chat',
    data () {
        return {
            joined: false,
            ws: null,
            config: {
                ws_host: 'localhost:8181',
            },
            chat_content: '',
            chat_message: '',
            user: {
                email: '',
                username: '',
            },
        };
    },
    created () {
        console.log('Chat Loaded');
        const self = this;
        this.ws = new WebSocket(`ws://${this.config.ws_host}/ws`);
        this.ws.addEventListener('close', () =>
        {
            _global.removeItem('joined');
            _global.removeItem('user');
            this.user = _global.getItem('user', {
                email: '',
                username: '',
            });
            this.joined = _global.getItem('joined', false);
            _global.toastr('Cant connect to host', 'danger');
        });

        this.user = _global.getItem('user', this.user);
        this.joined = _global.getItem('joined', this.joined);
        if (this.joined) {
            this.ws.addEventListener('message', function ($e)
            {
                const data = JSON.parse($e.data);
                const gravatar = _global.gravatarURL(data.email);
                self.chat_content += `<div class="chip">
                    <img src="${gravatar}"> ${data.username}
                </div> ${emojione.toImage(data.message)} <br>`;
                var chat_container = document.getElementById('chat-messages');
                chat_container.scrollTop = chat_container.scrollHeight;
            });
        }
    },
    methods: {
        join () {
            if (this.user.email.trim().length === 0) {
                _global.toastr('Email is required', 'warning');
                return false;
            }
            if (!_global.validateEmail(this.user.email)) {
                _global.toastr('Invalid Email', 'warning');
                return false;
            }
            if (this.user.username.trim().length === 0) {
                _global.toastr('Username is required', 'warning');
                return false;
            }

            _global.setConfig('ws_host', this.config.ws_host);
            _global.setItem('user', this.user);
            _global.setItem('joined', true);

            this.ws = new WebSocket(`ws://${this.config.ws_host}/ws`);
            this.ws.addEventListener('message', function ($e)
            {
                const msg = JSON.parse($e.data);
                self.chat_content += ``;
            });
            window.location.reload();
        },

        send () {
            this.user = _global.getItem('user');

            if (this.chat_message.trim().length > 0) {
                this.ws.send(
                    JSON.stringify({
                        email: _global.strip(this.user.email),
                        username: _global.strip(this.user.username),
                        message: _global.strip(this.chat_message.trim()),
                    })
                );
                this.chat_message = '';
            }
        },
    }
}
</script>

<style scoped>
.h-40 {
    overflow-x: hidden !important;
    height: 40vh !important;
}

#chat-messages {
    padding-bottom: 50px;
}

.navbar {
    overflow: hidden;
}

.nav-link {
    padding-top: 20px;
}
</style>
