<template>
    <div>
        <div class="card">
            <div class="card-header">
                File Upload
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Select File</label>
                    <div class="input-group">
                        <input type="file" id="upfile" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primaty" @click="upload()"><i class="fa fa-upload" aria-hidden="true"></i>
                                Upload</button>
                        </div>
                    </div>
                    <small :class="upData.type">{{ upData.text }}</small>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                File Download
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Select Buildfile</label>
                    <input type="file" id="downfile" class="form-control">
                    <small :class="downData.type">{{ downData.text }}</small>
                </div>
                <div class="form-group">
                    <label>Select Datamap</label>
                    <input type="file" id="datamap" class="form-control">
                    <small :class="dataMap.type">{{ dataMap.text }}</small>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button type="button" class="btn btn-success" @click="download()"><i class="fa fa-download" aria-hidden="true"></i>
                            Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _global from './../assets/js/global.js';

export default {
    name: 'files',
    data () {
        return {
            upData: {
                text: 'Ready...',
                type: 'text-muted',
            },
            downData: {
                text: 'Ready...',
                type: 'text-muted',
            },
            dataMap: {
                text: 'Ready...',
                type: 'text-muted',
            },
        };
    },
    created () {
        console.log('Files Loaded');
    },
    methods: {
        upload () {
            const upFile = document.getElementById('upfile').files[0];
            if (!upFile) {
                this.status('upData', 'please select file', 'danger');
                return false;
            }
            this.status('upData', 'processing...');
            const formData = new FormData();
            formData.append('file', upFile);
            _global.Http.post('/upload', formData).then(_global.onResponse).catch(_global.onResponse);
            this.status('upData', 'Ready', 'muted');
        },

        download () {
            const downFile = document.getElementById('downfile').files[0];
            if (!downFile) {
                this.status('downData', 'please select file', 'danger');
                return false;
            }
            const dataMap = document.getElementById('datamap').files[0];
            if (!dataMap) {
                this.status('dataMap', 'please select file', 'danger');
                return false;
            }
            this.status('downData', 'processing...');
            const formData = new FormData();
            formData.append('file', downFile);
            _global.Http.post('/download', formData).then((data) =>
            {
                console.log(data);
                this.status('dataMap', 'processing...');
                var hash = data.data[0];
                var filename = data.data[1];
                formData.append("file", dataMap);
                formData.append("hash", hash);
                formData.append("filename", filename);
                _global.Http.post('/datamap', formData).then(_global.onResponse).catch(_global.onResponse);
                this.status('downData', 'Ready', 'muted');
                this.status('dataMap', 'Ready', 'muted');
            }
            ).catch(_global.onResponse);
        },

        status ($data, $msg, $type = 'info') {
            this[$data].text = $msg;
            this[$data].type = 'text-' + $type;
            _global.toastr($msg, $type);
        }
    }
}
</script>