<template>
    <div>
        <div class="row justify-content-end">
            <div class="col-auto">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="search" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Go</button> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li class="media">
                        <img v-bind:src="image()" alt="Image" class="mr-3" width="120">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1" @click="openDetails(0)">
                                <v-link href="/index/view">Title</v-link>
                            </h5>
                            <blockquote class="blockquote">
                                <p class="mb-0">Description</p>
                                <footer class="blockquote-footer">Hospital Provider</footer>
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import _global from './../assets/js/global';
import VLink from './v-link.vue';

export default {
    name: 'index-list',
    data () {
        return {
            search: '',
            list: [],
        };
    },
    created () {
        console.log('Index List Loaded');
        this.getList();
    },
    methods: {
        image ($image = null) {
            if (!$image) {
                return '/src/assets/favicon.png';
            }
            return $iamge;
        },

        getList () {
            _global.Http.post('/viewindex').then((list) => {
                console.log(list);
                this.list = list;
            }).catch(_global.onResponse);
        },

        openDetails ($key) {
            console.log($key);
            _global.setItem('index_meta', this.list[$key]);
        }
    },
    components: {
        VLink
    }
}
</script>

<style scoped>
.input-group {
    display: -webkit-inline-box;
}

.media {
    border-bottom: 1px solid #eee;
    padding: 16px;
}
</style>
