<template>
    <div>
        <div class="card">
            <div class="card-header">
                MongoDB <small v-bind:class="{ 'text-muted': !connected, 'text-success': connected }">{{ connected ? 'Connected' : 'Not Connected' }}</small>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Host</label>
                                <input type="text" id="mongoHost" v-model="connection.ip" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Port</label>
                                <input type="text" id="mongoPort" v-model="connection.port" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" @click="connect()" class="btn btn-info btn-block"><i class="fa fa-link" aria-hidden="true"></i> Connect</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Choose Database</label>
                            <select class="form-control" v-model="selected_db" @change="getCollections()">
                                <option value="">Choose</option>
                                <option v-for="(db, key) in dbs" v-bind:value="db" v-bind:key="key">{{ db }}</option>
                            </select>
                            <small class="text-muted">Found {{ dbs.length }} entries</small>
                        </div>
                        <div class="form-group">
                            <label for="">Choose Collection</label>
                            <select class="form-control" v-model="selected_col" @change="readyToUpload()">
                                <option value="">Choose</option>
                                <option v-for="(col, key) in cols" v-bind:value="col" v-bind:key="key">{{ col }}</option>
                            </select>
                            <small class="text-muted">Found {{ cols.length }} entries</small>
                        </div>
                        <div v-if="ready">
                            <div class="form-group">
                                <label for="">Image</label>
                                <input type="file" name="imagedata" id="imagedata" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" v-model="title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" v-model="description" row="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Provider</label>
                                <input type="text" v-model="provider" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Database Password</label>
                                <input type="password" class="form-control" v-model="password" placeholder="password">
                                <button class="btn btn-info btn-block" @click="upload()">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="form-group">
                            <label for="">Select DB to Download</label>
                            <input type="file" name="downdata" id="downdata" class="form-control">
                            <button class="btn btn-success btn-block" @click="download()">
                                <i class="fa fa-download" aria-hidden="true"></i> Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _global from '../assets/js/global';

export default {
    name: 'mongo',
    data () {
        return {
            connected: false,
            ready: false,
            connection: {
                ip: '127.0.0.1',
                port: 27017
            },
            title: '',
            description: '',
            provider: '',
            selected_db: '',
            selected_col: '',
            password: '',
            dbs: [],
            cols: [],
        };
    },
    created() {
        console.log('Mongo Loaded');
        this.connection = _global.getItem('mongo_connection', {
            ip: '127.0.0.1',
            port: 27017
        });
    },
    methods: {
        connect () {
            const formData = new FormData();
            formData.append('ip', this.connection.ip);
            formData.append('port', this.connection.port);
            _global.Http.post('/conMongo', formData).then((res) => {
                if (res.status === 200 || res.status === 201) {
                    _global.toastr('Connected', 'success');
                    this.connected = true;
                    setTimeout(() => {
                        this.getDBs();
                    });
                } else {
                    _global.toastr('Unable to connect', 'danger');
                    this.connected = false;
                }
            }).catch(_global.onResponse);
        },

        getDBs () {
            _global.Http.post('/getbase').then((dbs) => {
                this.dbs = dbs.data;
            }).catch(_global.onResponse);
        },

        getCollections () {
            if (this.selected_db !== '') {

                const formData = new FormData();
                formData.append('db', this.selected_db);
                _global.Http.post('/col', formData).then((cols) => {
                    this.cols = cols.data;
                }).catch(_global.onResponse);

            } else {
                this.cols = [];
            }
        },

        readyToUpload () {
            console.log(this.selected_db, this.selected_col);
            if (this.selected_db.trim().length > 0 && this.selected_col.trim().length > 0) {
                this.ready = true;
            } else {
                this.ready = false;
            }
        },

        upload () {
            const imagedata = document.getElementById('imagedata').files[0];
            if (!imagedata) {
                _global.toastr('Select Image File', 'warning');
                return false;
            }
            const formData1 = new FormData();
            formData1.append('file', imagedata);
            _global.Http.post('/addimage', formData1).then((res) => {
                if (res.data.length === 0) {
                    _global.toastr('No Hash returned', 'danger');
                    return false;
                }
                const formData = new FormData();
                formData.append('db', this.selected_db);
                formData.append('col', this.selected_col);
                formData.append('pas', this.password);
                formData.append('title', this.title);
                formData.append('dis', this.description);
                formData.append('provider', this.provider);
                formData.append('image', res.data);
                _global.Http.post('/upDb', formData).then(_global.onResponse).catch(_global.onResponse);
            }).catch(_global.onResponse);
        },

        download () {
            const downdata = document.getElementById('downdata').files[0];
            if (!downdata) {
                _global.toastr('Select DB File to download', 'warning');
                return false;
            }
            const formData = new FormData();
            formData.append('file', downdata);
            _global.Http.post('/downDb', formData).then(_global.onResponse).catch(_global.onResponse);
        }
    }
}
</script>