<template>
    <div class="card">
        <div class="card-header">Terminal</div>
        <div class="card-body">
            <div id="terminal">
                <pre><output v-html="log" for=""></output></pre>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'terminal',
    data () {
        return {
            socket: io('https://kryptonia.io:2096', {
                path: '/kryptonia',
                forceNew: true,
            }),
            log: '',
        };
    },
    created () {
        console.log('Terminal Loaded');
        this.println((new Date()).toString());
        this.println('Welcome to Helix log terminal');
        this.println('Initiating terminal...');
        this.println('Started');

        this.socket.on('user-connected', (data) => {
            this.println(`UserID: ${data.user_id} is connected`);
            this.println(`Data: ${JSON.stringify(data)}`);
        });
        this.socket.on('user-disconnected', (data) => {
            this.println(`UserID: ${data.user_id} is disconnected`);
            this.println(`Data: ${JSON.stringify(data)}`);
        });
    },
    methods: {
        println ($msg) {
            this.log += `${$msg}\n`;
        }
    }
}
</script>

<style scoped>
#terminal {
    background-color: black;
    background-image: radial-gradient(rgba(0, 46, 0, 0.75), black 120%);
    height: 50vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
}

#terminal::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px);
    pointer-events: none;
}

#terminal>pre {
    /* margin-left: -40px; */
    overflow: hidden !important;
}

#terminal>pre>output {
    color: #FFF !important;
    font: 1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
}

#terminal > ::selection {
    background: #0080ff;
    text-shadow: none;
}
</style>