<template>
  <div class="">
    <nav id="appHeader" class="navbar navbar-fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="/src/assets/favicon.png" width="20">
          <b>SDSP</b>
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <v-link href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</v-link>
                </li>
                <li class="nav-item">
                  <v-link href="/database"><i class="fa fa-database" aria-hidden="true"></i> Database</v-link>
                </li>
                <li class="nav-item">
                  <v-link href="/files"><i class="fa fa-files-o" aria-hidden="true"></i> Files</v-link>
                </li>
                <li class="nav-item">
                  <v-link href="/index"><i class="fa fa-list-alt" aria-hidden="true"></i> Index</v-link>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="col col-12">
      <slot></slot>
    </div>

    <div class="footer">
      <span class="float-right">SDSP @2019</span>
    </div>
  </div>
</template>

<script>
import VLink from "../components/v-link.vue";

export default {
  components: {
    VLink
  }
};
</script>

<style scoped>
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 30px;
  background: #f9f7f5;
}
</style>
